In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

# import utility_functions as fn

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
start = '2012-01-01 00:00:00'
end = '2019-03-01 00:00:00'

dates = pd.DataFrame(index=pd.DatetimeIndex(start=start, end=end, freq='H'))

In [3]:
# adds hour of day features
for i in range(0,24):
    dates['hr_'+str(i)] = np.array([i]*len(dates))
    dates.loc[:,'hr_'+str(i)] = (dates.loc[:,'hr_'+str(i)].values == np.asarray(dates.index.hour)).astype(int)

In [4]:
# adds day of week features
for i in range(0,7):
    dates['day_'+str(i)] = np.array([i]*len(dates))
    dates.loc[:,'day_'+str(i)]=(dates.loc[:,'day_'+str(i)].values==np.asarray(dates.index.dayofweek)).astype(int)
    
dates.head()

,hr_0,hr_1,hr_2,hr_3,hr_4,hr_5,hr_6,hr_7,hr_8,hr_9,...,hr_21,hr_22,hr_23,day_0,day_1,day_2,day_3,day_4,day_5,day_6
2012-01-01 00:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2012-01-01 01:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2012-01-01 02:00:00,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2012-01-01 03:00:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2012-01-01 04:00:00,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
dates.to_csv('../data/date_features.csv')

Unused code below

In [6]:
# adds season features
# dates['spring'] = np.asarray(dates.index.month)
# dates['spring'].replace([1,2,3,4,5,6,7,8,9,10,11,12],[0,0,1,1,1,0,0,0,0,0,0,0],inplace=True)

# dates['summer'] = np.asarray(dates.index.month)
# dates['summer'].replace([1,2,3,4,5,6,7,8,9,10,11,12],[0,0,0,0,0,1,1,1,0,0,0,0],inplace=True)

# dates['autumn'] = np.asarray(dates.index.month)
# dates['autumn'].replace([1,2,3,4,5,6,7,8,9,10,11,12],[0,0,0,0,0,0,0,0,1,1,1,0],inplace=True)

In [7]:
# adds weekday feature
# dates['weekday'] = np.asarray(dates.index.weekday)
# dates['weekday'].replace([0,1,2,3,4,5,6],[1,1,1,1,1,0,0],inplace=True)

In [8]:
# to_export = dates.copy(deep=True)
# to_export.to_csv('../data/one_hot_dates.csv')