In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn import preprocessing

import utility_functions as fn

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Basic idea here:
1. Create a new dataframe with hourly index from start to end above, like the weather data
2. Add the following features for each row:

    1. hour of day (23) <br/>
    2. season (3) <br />
    3. weekday (1) <br />
    4. Yale class in session (1) UNFINISHED <br />
    5. Yale offices operating (1) UNFINISHED <br />

In [2]:
start = '2013-01-01 00:00:00'
end = '2019-02-10 00:00:00'

dates = pd.DataFrame(index=pd.DatetimeIndex(start=start, end=end, freq='H'))

In [3]:
# adds hour of day features
for i in range(1,24):
    dates['hr'+str(i)] = np.array([i]*len(dates))
    dates.loc[:,'hr'+str(i)] = (dates.loc[:,'hr'+str(i)].values == np.asarray(dates.index.hour)).astype(int)

dates.head()

,hr1,hr2,hr3,hr4,hr5,hr6,hr7,hr8,hr9,hr10,...,hr14,hr15,hr16,hr17,hr18,hr19,hr20,hr21,hr22,hr23
2013-01-01 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 01:00:00,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 02:00:00,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 03:00:00,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 04:00:00,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# adds season features
dates['spring'] = np.asarray(dates.index.month)
dates['spring'].replace([1,2,3,4,5,6,7,8,9,10,11,12],[0,0,1,1,1,0,0,0,0,0,0,0],inplace=True)

dates['summer'] = np.asarray(dates.index.month)
dates['summer'].replace([1,2,3,4,5,6,7,8,9,10,11,12],[0,0,0,0,0,1,1,1,0,0,0,0],inplace=True)

dates['autumn'] = np.asarray(dates.index.month)
dates['autumn'].replace([1,2,3,4,5,6,7,8,9,10,11,12],[0,0,0,0,0,0,0,0,1,1,1,0],inplace=True)

In [5]:
# adds weekday feature
dates['weekday'] = np.asarray(dates.index.weekday)
dates['weekday'].replace([0,1,2,3,4,5,6],[1,1,1,1,1,0,0],inplace=True)

In [6]:
# dates['class'] = np.array([0]*len(dates))

# dates['office'] = np.array([0]*len(dates))

In [7]:
to_export = dates.copy(deep=True)
# to_export.to_csv('date_features.csv')