In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn import preprocessing


import utility_functions as fn

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

Basic idea here:
1. Create a new dataframe with hourly index from start to end above, like the weather data
2. Add the following features for each row:

    1. hour of day (23) <br/>
    2. season (3) <br />
    3. weekday (1) <br />
    4. Yale class in session (1) <br />
    5. Yale offices operating (1) <br />

In [2]:
start = '2013-01-01 00:00:00'
end = '2019-02-10 00:00:00'

dates = pd.DataFrame(index=pd.DatetimeIndex(start=start, end=end, freq='H'))

Empty DataFrame
Columns: []
Index: [2013-01-01 00:00:00, 2013-01-01 01:00:00, 2013-01-01 02:00:00]

In [3]:
dates['spring'] = np.array([0]*len(dates))
dates['summer'] = np.array([0]*len(dates))
dates['fall'] = np.array([0]*len(dates))

dates['weekday'] = np.array([0]*len(dates))

dates['class'] = np.array([0]*len(dates))

dates['office'] = np.array([0]*len(dates))

for i in range(1,24):
    dates['hr'+str(i)] = np.array([0]*len(dates))

In [5]:
dates.head(1)

,spring,summer,fall,weekday,class,office,hr1,hr2,hr3,hr4,...,hr14,hr15,hr16,hr17,hr18,hr19,hr20,hr21,hr22,hr23
2013-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0