This is a work-in-progress pipeline for an independent energy data analysis project I am working on.

Full disclosure: this project is not related to S&DS 123. If I am violating the terms of use for this Jupyter Notebook hub, please let me know and I will relocate my work.

In [1]:
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.\n",
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

This cell imports the rawdata.csv file, which I have previously converted from an xlsx file. Before I exported as it a csv, I added readable column names for each building in the file.

In [2]:
dataraw = Table.read_table("rawdata.csv").take(np.arange(3,4994))
dataraw.show(5)

This cell adds 'Demand' and 'Consumption' labels to the columns, accordingly.

Trying to simplify/automate this. Perhaps create an array with the building names, then use it to create the old-label and new-label arrays to use in Table.relabeled

In [3]:
#datanew = data.relabeled(make_array('YUAG','Unnamed: 2'),make_array('YUAG Demand','YUAG Consumption'))

datalabeled = dataraw.relabeled(make_array('YUAG','Unnamed: 2',
                                    'Berkeley','Unnamed: 4',
                                    'Hopper','Unnamed: 6',
                                    '304Elm','Unnamed: 8',
                                    'Davenport','Unnamed: 10',
                                    '38HH','Unnamed: 12',
                                    '320Temple','Unnamed: 14',
                                    '53Wall','Unnamed: 16',
                                    'Sprague','Unnamed: 18',
                                    'Malone','Unnamed: 20',
                                    'Trumbull','Unnamed: 22',
                                    '17HH','Unnamed: 24'),
                         make_array('YUAG Demand','YUAG Consumption',
                                    'Berkeley Demand','Berkeley Consumption',
                                    'Hopper Demand','Hopper Consumption',
                                    '304Elm Demand','304Elm Consumption',
                                    'Davenport Demand','Davenport Consumption',
                                    '38HH Demand','38HH Consumption',
                                    '320Temple Demand','320Temple Consumption',
                                    '53Wall Demand','53Wall Consumption',
                                    'Sprague Demand','Sprague Consumption',
                                    'Malone Demand','Malone Consumption',
                                    'Trumbull Demand','Trumbull Consumption',
                                    '17HH Demand','17HH Consumption'))

datalabeled.show(5)

The following cell replaces NaN entries with zeroes, then converts the strings to floats.

In [4]:
datanum = datalabeled

# dumarray = [0]*datalabeled.num_rows
# datanum = datanum.with_column('1',dumarray)


for x in [1]:
    for y in range(datalabeled.num_rows):
        if datanum.column(x)[y] == 'nan':
            datanum.column(x)[y] = '0'
        dumarray = [float(datalabeled.column(x)[y]) for ]
#         dumarray[y] = float(datalabeled.column(x)[y])
        datanum = datanum.with_column('YUAG Demand',dumarray)

datanum.show(5)

In [5]:
desired_array = [int(numeric_string) for numeric_string in current_array]

datalabeled.column(1)
# np.nan_to_num(datalabeled.column(1))

# for x in range(1,25):
#     datalabeled.column(x) = np.nan_to_num(datalabeled.column(x))

#datalabeled.plot("Electrical Hourly","YUAG Consumption")

NameError: name 'current_array' is not defined